<!--suppress ALL -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404 Page Not Found</title>

    <link rel="icon" href="favicon.png" type="image/png">
    <link href="css/error.css" rel="stylesheet">
    <script src="js/error.js"></script>
</head>
<body>

<div class="cont_principal">
    <div class="cont_error">
        <h2>Parking Map Service</h2>
        <h1>Oops</h1>
        <p>The page you're looking for isn't here.</p>
    </div>
    <div class="cont_aura_1"></div>
    <div class="cont_aura_2"></div>
</div>

</body>
</html>