-- noinspection SqlNoDataSourceInspectionForFile
-- noinspection SqlDialectInspectionForFile
-- noinspection SqlResolveForFile
-- @author: bht

USE [PARKINGLOT]
GO

/****** Object:  Trigger [TG_INSERT_UPDATE_PARKING_LOT_LIMIT]    Script Date: 8/23/2020 4:24:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [TG_INSERT_UPDATE_PARKING_LOT_LIMIT]
    ON [PARKING_LOT_LIMIT]
    AFTER INSERT, UPDATE
    AS
BEGIN
    SET NOCOUNT ON

    UPDATE PL
    SET IS_AVAILABLE = 0
    FROM PARKING_LOT PL
             INNER JOIN INSERTED I
                        ON PL.ID = I.ID AND I.AVAILABILITY = 0

    UPDATE PL
    SET IS_AVAILABLE = 1
    FROM PARKING_LOT PL
             INNER JOIN INSERTED I
                        ON PL.ID = I.ID AND I.AVAILABILITY > 0
END
GO
ALTER TABLE [dbo].[PARKING_LOT_LIMIT] ENABLE TRIGGER [TG_INSERT_UPDATE_PARKING_LOT_LIMIT]
GO
/****** Object:  Trigger [TG_UPDATE_PARKING_LOT_SUGGESTION]    Script Date: 8/23/2020 4:24:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [TG_UPDATE_PARKING_LOT_SUGGESTION]
    ON [PARKING_LOT_SUGGESTION]
    FOR UPDATE
    AS
BEGIN
    SET NOCOUNT ON

    UPDATE PLS
    SET LAST_UPDATED = GETDATE()
    FROM PARKING_LOT_SUGGESTION PLS
             INNER JOIN INSERTED I
                        ON PLS.ID = I.ID
END
GO
ALTER TABLE [dbo].[PARKING_LOT_SUGGESTION] ENABLE TRIGGER [TG_UPDATE_PARKING_LOT_SUGGESTION]
GO
/****** Object:  Trigger [TG_UPDATE_PARKING_LOT_UNIT]    Script Date: 8/23/2020 4:24:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [TG_UPDATE_PARKING_LOT_UNIT]
    ON [PARKING_LOT_UNIT]
    FOR UPDATE
    AS
BEGIN
    SET NOCOUNT ON

    UPDATE PLU
    SET LAST_UPDATED = GETDATE()
    FROM PARKING_LOT_UNIT PLU
             INNER JOIN INSERTED I
                        ON PLU.ID = I.ID
END
GO
ALTER TABLE [dbo].[PARKING_LOT_UNIT] ENABLE TRIGGER [TG_UPDATE_PARKING_LOT_UNIT]
GO