-- noinspection SqlNoDataSourceInspectionForFile
-- noinspection SqlDialectInspectionForFile
-- noinspection SqlResolveForFile
-- @author: bht

USE [AUTH]
GO
/****** Object:  Table [USER_TOKEN]    Script Date: 8/23/2020 4:24:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [USER_TOKEN](
	[USER_ID] [bigint] NOT NULL,
	[TOKEN_ID] [uniqueidentifier] NOT NULL,
	[VERSION] [bigint] NULL,
 CONSTRAINT [PK_USER_TOKEN] PRIMARY KEY CLUSTERED 
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [CK_TOKEN_ID_UNIQUE] UNIQUE NONCLUSTERED 
(
	[TOKEN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [USER_TOKEN] ADD  CONSTRAINT [DF_USER_TOKEN_VERSION]  DEFAULT ((1)) FOR [VERSION]
GO