-- noinspection SqlNoDataSourceInspectionForFile
-- noinspection SqlDialectInspectionForFile
-- noinspection SqlResolveForFile
-- @author: bht

USE [PARKINGLOT]
GO
/****** Object:  UserDefinedFunction [CALCULATE_DELTA_LAT_IN_DEGREE]    Script Date: 8/23/2020 4:24:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [CALCULATE_DELTA_LAT_IN_DEGREE](@LAT FLOAT,
                                                @LNG FLOAT,
                                                @DISTANCE INT)
    RETURNS FLOAT
AS
BEGIN
    RETURN @DISTANCE * 57.29577951 / 6371
END
GO
/****** Object:  UserDefinedFunction [CALCULATE_DELTA_LNG_IN_DEGREE]    Script Date: 8/23/2020 4:24:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [CALCULATE_DELTA_LNG_IN_DEGREE](@LAT FLOAT,
                                                @LNG FLOAT,
                                                @DISTANCE INT)
    RETURNS FLOAT
AS
BEGIN
    RETURN 57.29577951 * ASIN(SIN(CAST(@DISTANCE AS FLOAT) / 6371) / COS(@LAT / 57.29577951))
END
GO
/****** Object:  UserDefinedFunction [CHECK_AVAILABILITY]    Script Date: 8/23/2020 4:24:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [CHECK_AVAILABILITY](
	@PARKING_LOT_ID BIGINT)
RETURNS BIT
AS
BEGIN
	DECLARE @IS_AVAILABLE BIT
	DECLARE @OPENING_HOUR TIME(7)
	DECLARE @CLOSING_HOUR TIME(7)

	SELECT @IS_AVAILABLE = P.IS_AVAILABLE, @OPENING_HOUR = P.OPENING_HOUR, @CLOSING_HOUR = P.CLOSING_HOUR
	FROM PARKING_LOT P
	WHERE P.ID = @PARKING_LOT_ID

	IF 1 = @IS_AVAILABLE AND CONVERT(TIME, GETDATE()) BETWEEN @OPENING_HOUR AND @CLOSING_HOUR
	BEGIN
		RETURN 1
	END
    RETURN 0
END
GO
/****** Object:  UserDefinedFunction [GET_DISTANCE_IN_KILOMETRE]    Script Date: 8/23/2020 4:24:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [GET_DISTANCE_IN_KILOMETRE](@LAT1 FLOAT, /* POINT1.LATITUDE */
                                            @LNG1 FLOAT, /* POINT1.LONGITUDE */
                                            @LAT2 FLOAT, /* POINT2.LATITUDE */
                                            @LNG2 FLOAT) /* POINT2.LONGITUDE */
    RETURNS FLOAT
AS
BEGIN
    DECLARE
        @DEGTORAD FLOAT
    DECLARE
        @ANS FLOAT
    DECLARE
        @KILOMETRE FLOAT

    SET @DEGTORAD = 57.29577951
    SET @ANS = 0
    SET @KILOMETRE = 0

    IF @LAT1 IS NULL OR @LAT1 = 0 OR
       @LNG1 IS NULL OR @LNG1 = 0 OR
       @LAT2 IS NULL OR @LAT2 = 0 OR
       @LNG2 IS NULL OR @LNG2 = 0
        BEGIN
            RETURN @KILOMETRE
        END

    SET @ANS = SIN(@LAT1 / @DEGTORAD) * SIN(@LAT2 / @DEGTORAD) +
               COS(@LAT1 / @DEGTORAD) * COS(@LAT2 / @DEGTORAD) * COS(ABS(@LNG2 - @LNG1) / @DEGTORAD)
    SET @KILOMETRE = 6371 * ACOS(@ANS)

    RETURN @KILOMETRE
END
GO
/****** Object:  UserDefinedFunction [IS_VALUE_IN_BOUND]    Script Date: 8/23/2020 4:24:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [IS_VALUE_IN_BOUND](@VALUE FLOAT,
                                    @PIVOT FLOAT,
                                    @DELTA FLOAT)
    RETURNS BIT
AS
BEGIN
    IF @VALUE <= @PIVOT + @DELTA
        AND @VALUE >= @PIVOT - @DELTA
        BEGIN
            RETURN 1
        END
    RETURN 0
END
GO
/****** Object:  Table [PARKING_LOT]    Script Date: 8/23/2020 4:24:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PARKING_LOT](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[PARKING_LOT_TYPE_ID] [bigint] NOT NULL,
	[LATITUDE] [float] NOT NULL,
	[LONGITUDE] [float] NOT NULL,
	[OPENING_HOUR] [time](7) NOT NULL,
	[CLOSING_HOUR] [time](7) NOT NULL,
	[IS_AVAILABLE] [bit] NULL,
	[VERSION] [bigint] NULL,
 CONSTRAINT [PK_PARKING_LOT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [PARKING_LOT_EMPLOYEE]    Script Date: 8/23/2020 4:24:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PARKING_LOT_EMPLOYEE](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[USER_ID] [bigint] NOT NULL,
	[PARKING_LOT_ID] [bigint] NOT NULL,
	[VERSION] [bigint] NULL,
 CONSTRAINT [PK_PARKING_LOT_EMPLOYEE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [CK_PARKING_LOT_EMPLOYEE_USER_ID_UNIQUE] UNIQUE NONCLUSTERED 
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [PARKING_LOT_INFORMATION]    Script Date: 8/23/2020 4:24:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PARKING_LOT_INFORMATION](
	[ID] [bigint] NOT NULL,
	[NAME] [nvarchar](127) NOT NULL,
	[ADDRESS] [nvarchar](255) NOT NULL,
	[PHONE] [nvarchar](20) NULL,
	[VERSION] [bigint] NULL,
 CONSTRAINT [PK_PARKING_LOT_INFORMATION] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [PARKING_LOT_LIMIT]    Script Date: 8/23/2020 4:24:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PARKING_LOT_LIMIT](
	[ID] [bigint] NOT NULL,
	[CAPACITY] [smallint] NULL,
	[AVAILABILITY] [smallint] NULL,
	[VERSION] [bigint] NULL,
 CONSTRAINT [PK_PARKING_LOT_LIMIT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [PARKING_LOT_SUGGESTION]    Script Date: 8/23/2020 4:24:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PARKING_LOT_SUGGESTION](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CUSTOMER_ID] [bigint] NOT NULL,
	[NAME] [nvarchar](127) NOT NULL,
	[ADDRESS] [nvarchar](255) NOT NULL,
	[LATITUDE] [float] NOT NULL,
	[LONGITUDE] [float] NOT NULL,
	[IS_HANDLED] [bit] NULL,
	[LAST_UPDATED] [smalldatetime] NULL,
	[VERSION] [bigint] NULL,
 CONSTRAINT [PK_PARKING_LOT_SUGGESTION] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [PARKING_LOT_TYPE]    Script Date: 8/23/2020 4:24:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PARKING_LOT_TYPE](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[TYPE] [nvarchar](50) NOT NULL,
	[VERSION] [bigint] NULL,
 CONSTRAINT [PK_PARKING_LOT_TYPE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [PARKING_LOT_UNIT]    Script Date: 8/23/2020 4:24:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PARKING_LOT_UNIT](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[PARKING_LOT_ID] [bigint] NOT NULL,
	[LOWER_BOUND_HOUR] [smallint] NOT NULL,
	[UPPER_BOUND_HOUR] [smallint] NOT NULL,
	[UNIT_PRICE_PER_HOUR] [int] NOT NULL,
	[LAST_UPDATED] [smalldatetime] NULL,
	[VERSION] [bigint] NULL,
 CONSTRAINT [PK_PARKING_LOT_UNIT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [PARKING_LOT] ADD  CONSTRAINT [DF_PARKING_LOT_IS_AVAILABLE]  DEFAULT ((0)) FOR [IS_AVAILABLE]
GO
ALTER TABLE [PARKING_LOT] ADD  CONSTRAINT [DF_PARKING_LOT_VERSION]  DEFAULT ((1)) FOR [VERSION]
GO
ALTER TABLE [PARKING_LOT_EMPLOYEE] ADD  CONSTRAINT [DF_PARKING_LOT_EMPLOYEE_VERSION]  DEFAULT ((1)) FOR [VERSION]
GO
ALTER TABLE [PARKING_LOT_INFORMATION] ADD  CONSTRAINT [DF_PARKING_LOT_INFORMATION_VERSION]  DEFAULT ((1)) FOR [VERSION]
GO
ALTER TABLE [PARKING_LOT_LIMIT] ADD  CONSTRAINT [DF_PARKING_LOT_LIMIT_CAPACITY]  DEFAULT ((0)) FOR [CAPACITY]
GO
ALTER TABLE [PARKING_LOT_LIMIT] ADD  CONSTRAINT [DF_PARKING_LOT_LIMIT_AVAILABILITY]  DEFAULT ((0)) FOR [AVAILABILITY]
GO
ALTER TABLE [PARKING_LOT_LIMIT] ADD  CONSTRAINT [DF_PARKING_LOT_LIMIT_VERSION]  DEFAULT ((1)) FOR [VERSION]
GO
ALTER TABLE [PARKING_LOT_SUGGESTION] ADD  CONSTRAINT [DF_PARKING_LOT_SUGGESTION_IS_HANDLED]  DEFAULT ((0)) FOR [IS_HANDLED]
GO
ALTER TABLE [PARKING_LOT_SUGGESTION] ADD  CONSTRAINT [DF_PARKING_LOT_SUGGESTION_LAST_UPDATED]  DEFAULT (getdate()) FOR [LAST_UPDATED]
GO
ALTER TABLE [PARKING_LOT_SUGGESTION] ADD  CONSTRAINT [DF_PARKING_LOT_SUGGESTION_VERSION]  DEFAULT ((1)) FOR [VERSION]
GO
ALTER TABLE [PARKING_LOT_TYPE] ADD  CONSTRAINT [DF_PARKING_LOT_TYPE_VERSION]  DEFAULT ((1)) FOR [VERSION]
GO
ALTER TABLE [PARKING_LOT_UNIT] ADD  CONSTRAINT [DF_PARKING_LOT_UNIT_LAST_UPDATED]  DEFAULT (getdate()) FOR [LAST_UPDATED]
GO
ALTER TABLE [PARKING_LOT_UNIT] ADD  CONSTRAINT [DF_PARKING_LOT_UNIT_VERSION]  DEFAULT ((1)) FOR [VERSION]
GO
ALTER TABLE [PARKING_LOT]  WITH CHECK ADD  CONSTRAINT [FK_PARKING_LOT_PARKING_LOT_TYPE] FOREIGN KEY([PARKING_LOT_TYPE_ID])
REFERENCES [PARKING_LOT_TYPE] ([ID])
GO
ALTER TABLE [PARKING_LOT] CHECK CONSTRAINT [FK_PARKING_LOT_PARKING_LOT_TYPE]
GO
ALTER TABLE [PARKING_LOT_EMPLOYEE]  WITH CHECK ADD  CONSTRAINT [FK_PARKING_LOT_EMPLOYEE_PARKING_LOT] FOREIGN KEY([PARKING_LOT_ID])
REFERENCES [PARKING_LOT] ([ID])
GO
ALTER TABLE [PARKING_LOT_EMPLOYEE] CHECK CONSTRAINT [FK_PARKING_LOT_EMPLOYEE_PARKING_LOT]
GO
ALTER TABLE [PARKING_LOT_INFORMATION]  WITH CHECK ADD  CONSTRAINT [FK_PARKING_LOT_INFORMATION_PARKING_LOT] FOREIGN KEY([ID])
REFERENCES [PARKING_LOT] ([ID])
GO
ALTER TABLE [PARKING_LOT_INFORMATION] CHECK CONSTRAINT [FK_PARKING_LOT_INFORMATION_PARKING_LOT]
GO
ALTER TABLE [PARKING_LOT_LIMIT]  WITH CHECK ADD  CONSTRAINT [FK_PARKING_LOT_LIMIT_PARKING_LOT] FOREIGN KEY([ID])
REFERENCES [PARKING_LOT] ([ID])
GO
ALTER TABLE [PARKING_LOT_LIMIT] CHECK CONSTRAINT [FK_PARKING_LOT_LIMIT_PARKING_LOT]
GO
ALTER TABLE [PARKING_LOT_UNIT]  WITH CHECK ADD  CONSTRAINT [FK_PARKING_LOT_UNIT_PARKING_LOT] FOREIGN KEY([PARKING_LOT_ID])
REFERENCES [PARKING_LOT] ([ID])
GO
ALTER TABLE [PARKING_LOT_UNIT] CHECK CONSTRAINT [FK_PARKING_LOT_UNIT_PARKING_LOT]
GO
ALTER TABLE [PARKING_LOT]  WITH CHECK ADD  CONSTRAINT [CK_PARKING_LOT_VALID_CLOSING_HOUR] CHECK  (([CLOSING_HOUR]>[OPENING_HOUR]))
GO
ALTER TABLE [PARKING_LOT] CHECK CONSTRAINT [CK_PARKING_LOT_VALID_CLOSING_HOUR]
GO
ALTER TABLE [PARKING_LOT_LIMIT]  WITH CHECK ADD  CONSTRAINT [CK_PARKING_LOT_LIMIT_VALID] CHECK  (([AVAILABILITY]>=(0) AND [AVAILABILITY]<=[CAPACITY]))
GO
ALTER TABLE [PARKING_LOT_LIMIT] CHECK CONSTRAINT [CK_PARKING_LOT_LIMIT_VALID]
GO
/****** Object:  Trigger [TG_INSERT_UPDATE_PARKING_LOT_LIMIT]    Script Date: 8/23/2020 4:24:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [TG_INSERT_UPDATE_PARKING_LOT_LIMIT]
    ON [PARKING_LOT_LIMIT]
    AFTER INSERT, UPDATE
    AS
BEGIN
    SET NOCOUNT ON

    UPDATE PL
    SET IS_AVAILABLE = 0
    FROM PARKING_LOT PL
             INNER JOIN INSERTED I
                        ON PL.ID = I.ID AND I.AVAILABILITY = 0

    UPDATE PL
    SET IS_AVAILABLE = 1
    FROM PARKING_LOT PL
             INNER JOIN INSERTED I
                        ON PL.ID = I.ID AND I.AVAILABILITY > 0
END
GO
ALTER TABLE [dbo].[PARKING_LOT_LIMIT] ENABLE TRIGGER [TG_INSERT_UPDATE_PARKING_LOT_LIMIT]
GO
/****** Object:  Trigger [TG_UPDATE_PARKING_LOT_SUGGESTION]    Script Date: 8/23/2020 4:24:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [TG_UPDATE_PARKING_LOT_SUGGESTION]
    ON [PARKING_LOT_SUGGESTION]
    FOR UPDATE
    AS
BEGIN
    SET NOCOUNT ON

    UPDATE PLS
    SET LAST_UPDATED = GETDATE()
    FROM PARKING_LOT_SUGGESTION PLS
             INNER JOIN INSERTED I
                        ON PLS.ID = I.ID
END
GO
ALTER TABLE [dbo].[PARKING_LOT_SUGGESTION] ENABLE TRIGGER [TG_UPDATE_PARKING_LOT_SUGGESTION]
GO
/****** Object:  Trigger [TG_UPDATE_PARKING_LOT_UNIT]    Script Date: 8/23/2020 4:24:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [TG_UPDATE_PARKING_LOT_UNIT]
    ON [PARKING_LOT_UNIT]
    FOR UPDATE
    AS
BEGIN
    SET NOCOUNT ON

    UPDATE PLU
    SET LAST_UPDATED = GETDATE()
    FROM PARKING_LOT_UNIT PLU
             INNER JOIN INSERTED I
                        ON PLU.ID = I.ID
END
GO
ALTER TABLE [dbo].[PARKING_LOT_UNIT] ENABLE TRIGGER [TG_UPDATE_PARKING_LOT_UNIT]
GO
