-- noinspection SqlNoDataSourceInspectionForFile
-- noinspection SqlDialectInspectionForFile
-- noinspection SqlResolveForFile
-- @author: bht

USE [USER]
GO
/****** Object:  Table [CUSTOMER]    Script Date: 6/24/2020 11:50:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CUSTOMER](
	[ID] [bigint] NOT NULL,
	[FIRST_NAME] [nvarchar](20) NOT NULL,
	[LAST_NAME] [nvarchar](40) NOT NULL,
	[PHONE] [nvarchar](15) NOT NULL,
	[LAST_UPDATED] [smalldatetime] NULL,
 CONSTRAINT [PK_CUSTOMER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [USER]    Script Date: 6/24/2020 11:50:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [USER](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ROLE_ID] [bigint] NOT NULL,
	[USERNAME] [nvarchar](30) NOT NULL,
	[PASSWORD] [nvarchar](60) NOT NULL,
	[EMAIL] [nvarchar](50) NOT NULL,
	[IS_ACTIVATED] [bit] NULL,
	[LAST_SIGN_IN] [smalldatetime] NULL,
	[VERSION] [bigint] NULL,
 CONSTRAINT [PK_USER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [CK_EMAIL_UNIQUE] UNIQUE NONCLUSTERED 
(
	[EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [CK_USERNAME_UNIQUE] UNIQUE NONCLUSTERED 
(
	[USERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [USER_ROLE]    Script Date: 6/24/2020 11:50:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [USER_ROLE](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ROLE] [nvarchar](30) NOT NULL,
	[VERSION] [bigint] NULL,
 CONSTRAINT [PK_USER_ROLE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [CUSTOMER] ADD  CONSTRAINT [DF_CUSTOMER_LAST_UPDATED]  DEFAULT (getdate()) FOR [LAST_UPDATED]
GO
ALTER TABLE [USER] ADD  CONSTRAINT [DF_USER_IS_ACTIVATED]  DEFAULT ((0)) FOR [IS_ACTIVATED]
GO
ALTER TABLE [USER] ADD  CONSTRAINT [DF_USER_LAST_SIGN_IN]  DEFAULT (getdate()) FOR [LAST_SIGN_IN]
GO
ALTER TABLE [USER] ADD  CONSTRAINT [DF_USER_VERSION]  DEFAULT ((1)) FOR [VERSION]
GO
ALTER TABLE [USER_ROLE] ADD  CONSTRAINT [DF_USER_ROLE_VERSION]  DEFAULT ((1)) FOR [VERSION]
GO
ALTER TABLE [CUSTOMER]  WITH CHECK ADD  CONSTRAINT [FK_CUSTOMER_USER] FOREIGN KEY([ID])
REFERENCES [USER] ([ID])
GO
ALTER TABLE [CUSTOMER] CHECK CONSTRAINT [FK_CUSTOMER_USER]
GO
ALTER TABLE [USER]  WITH CHECK ADD  CONSTRAINT [FK_USER_USER_ROLE] FOREIGN KEY([ROLE_ID])
REFERENCES [USER_ROLE] ([ID])
GO
ALTER TABLE [USER] CHECK CONSTRAINT [FK_USER_USER_ROLE]
GO
/****** Object:  Trigger [TG_UPDATE_CUSTOMER]    Script Date: 6/24/2020 11:50:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [TG_UPDATE_CUSTOMER]
    ON [CUSTOMER]
    FOR UPDATE
    AS
BEGIN
    SET NOCOUNT ON

    UPDATE C
    SET LAST_UPDATED = GETDATE()
    FROM CUSTOMER C
             INNER JOIN INSERTED I
                        ON C.ID = I.ID
END
GO
ALTER TABLE [dbo].[CUSTOMER] ENABLE TRIGGER [TG_UPDATE_CUSTOMER]
GO
