USE [PARKINGMAP]
GO
/****** Object:  Table [dbo].[CUSTOMER]    Script Date: 2/13/2020 12:14:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMER]
(
    [CUSTOMER_ID]  [bigint]        NOT NULL,
    [FIRST_NAME]   [nvarchar](20)  NOT NULL,
    [LAST_NAME]    [nvarchar](40)  NOT NULL,
    [PHONE]        [nvarchar](15)  NOT NULL,
    [LAST_UPDATED] [smalldatetime] NULL,
    CONSTRAINT [PK_CUSTOMER] PRIMARY KEY CLUSTERED
        (
         [CUSTOMER_ID] ASC
            ) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[CUSTOMER] TO SCHEMA OWNER
GO
/****** Object:  Table [dbo].[PARKING_LOT]    Script Date: 2/13/2020 12:14:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PARKING_LOT]
(
    [ID]                  [bigint] IDENTITY (1,1) NOT NULL,
    [NAME]                [nvarchar](127)         NOT NULL,
    [PARKING_LOT_TYPE_ID] [tinyint]               NOT NULL,
    [LATITUDE]            [float]                 NOT NULL,
    [LONGITUDE]           [float]                 NOT NULL,
    [ADDRESS]             [nvarchar](255)         NOT NULL,
    [PHONE]               [nvarchar](15)          NULL,
    [IS_AVAILABLE]        [bit]                   NOT NULL,
    [LAST_UPDATED]        [smalldatetime]         NULL,
    [VERSION]             [bigint]                NULL,
    CONSTRAINT [PK_PARKING_LOT] PRIMARY KEY CLUSTERED
        (
         [ID] ASC
            ) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[PARKING_LOT] TO SCHEMA OWNER
GO
/****** Object:  Table [dbo].[PARKING_LOT_EMPLOYEE]    Script Date: 2/13/2020 12:14:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PARKING_LOT_EMPLOYEE]
(
    [EMPLOYEE_ID]    [bigint] NOT NULL,
    [PARKING_LOT_ID] [bigint] NOT NULL,
    CONSTRAINT [PK_PARKING_LOT_EMPLOYEE] PRIMARY KEY CLUSTERED
        (
         [EMPLOYEE_ID] ASC
            ) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[PARKING_LOT_EMPLOYEE] TO SCHEMA OWNER
GO
/****** Object:  Table [dbo].[PARKING_LOT_INFORMATION]    Script Date: 2/13/2020 12:14:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PARKING_LOT_INFORMATION]
(
    [ID]               [bigint] IDENTITY (1,1) NOT NULL,
    [PARKING_LOT_ID]   [bigint]                NOT NULL,
    [OPENING_HOUR]     [time](7)               NOT NULL,
    [CLOSING_HOUR]     [time](7)               NOT NULL,
    [RATING_AVERAGE]   [float]                 NOT NULL,
    [NUMBER_OF_RATING] [smallint]              NOT NULL,
    [AVAILABILITY]     [smallint]              NOT NULL,
    [CAPACITY]         [smallint]              NOT NULL,
    [PHOTO_PATH]       [nvarchar](255)         NULL,
    [VERSION]          [bigint]                NULL,
    CONSTRAINT [PK_PARKING_LOT_INFORMATION] PRIMARY KEY CLUSTERED
        (
         [ID] ASC
            ) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[PARKING_LOT_INFORMATION] TO SCHEMA OWNER
GO
/****** Object:  Table [dbo].[PARKING_LOT_RATING]    Script Date: 2/13/2020 12:14:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PARKING_LOT_RATING]
(
    [ID]             [bigint] IDENTITY (1,1) NOT NULL,
    [CUSTOMER_ID]    [bigint]                NOT NULL,
    [PARKING_LOT_ID] [bigint]                NOT NULL,
    [RATING]         [tinyint]               NOT NULL,
    [COMMENT]        [nvarchar](255)         NULL,
    [LAST_UPDATED]   [smalldatetime]         NULL,
    [VERSION]        [bigint]                NULL,
    CONSTRAINT [PK_PARKING_LOT_RATING] PRIMARY KEY CLUSTERED
        (
         [ID] ASC
            ) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[PARKING_LOT_RATING] TO SCHEMA OWNER
GO
/****** Object:  Table [dbo].[PARKING_LOT_REPORT]    Script Date: 2/13/2020 12:14:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PARKING_LOT_REPORT]
(
    [PARKING_LOT_REPORT_ID] [bigint]        NOT NULL,
    [PARKING_LOT_ID]        [bigint]        NOT NULL,
    [VIOLATION]             [nvarchar](255) NOT NULL,
    CONSTRAINT [PK_PARKING_LOT_REPORT] PRIMARY KEY CLUSTERED
        (
         [PARKING_LOT_REPORT_ID] ASC
            ) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[PARKING_LOT_REPORT] TO SCHEMA OWNER
GO
/****** Object:  Table [dbo].[PARKING_LOT_SUGGESTION]    Script Date: 2/13/2020 12:14:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PARKING_LOT_SUGGESTION]
(
    [ID]           [bigint] IDENTITY (1,1) NOT NULL,
    [CUSTOMER_ID]  [bigint]                NOT NULL,
    [NAME]         [nvarchar](127)         NOT NULL,
    [ADDRESS]      [nvarchar](255)         NOT NULL,
    [LATITUDE]     [float]                 NOT NULL,
    [LONGITUDE]    [float]                 NOT NULL,
    [LAST_UPDATED] [smalldatetime]         NULL,
    [VERSION]      [bigint]                NULL,
    CONSTRAINT [PK_PARKING_LOT_SUGGESTION] PRIMARY KEY CLUSTERED
        (
         [ID] ASC
            ) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[PARKING_LOT_SUGGESTION] TO SCHEMA OWNER
GO
/****** Object:  Table [dbo].[PARKING_LOT_TYPE]    Script Date: 2/13/2020 12:14:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PARKING_LOT_TYPE]
(
    [ID]      [tinyint] IDENTITY (1,1) NOT NULL,
    [TYPE]    [nvarchar](50)           NOT NULL,
    [VERSION] [bigint]                 NULL,
    CONSTRAINT [PK_PARKING_LOT_TYPE] PRIMARY KEY CLUSTERED
        (
         [ID] ASC
            ) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[PARKING_LOT_TYPE] TO SCHEMA OWNER
GO
/****** Object:  Table [dbo].[PARKING_LOT_UNIT]    Script Date: 2/13/2020 12:14:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PARKING_LOT_UNIT]
(
    [ID]                  [bigint] IDENTITY (1,1) NOT NULL,
    [PARKING_LOT_ID]      [bigint]                NOT NULL,
    [LOWER_BOUND_HOUR]    [smallint]              NOT NULL,
    [UPPER_BOUND_HOUR]    [smallint]              NOT NULL,
    [UNIT_PRICE_PER_HOUR] [int]                   NOT NULL,
    [LAST_UPDATED]        [smalldatetime]         NULL,
    [VERSION]             [bigint]                NULL,
    CONSTRAINT [PK_PARKING_LOT_UNIT] PRIMARY KEY CLUSTERED
        (
         [ID] ASC
            ) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[PARKING_LOT_UNIT] TO SCHEMA OWNER
GO
/****** Object:  Table [dbo].[REPORT]    Script Date: 2/13/2020 12:14:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REPORT]
(
    [ID]             [bigint] IDENTITY (1,1) NOT NULL,
    [REPORTER_ID]    [bigint]                NOT NULL,
    [REPORT_TYPE_ID] [tinyint]               NOT NULL,
    [IS_HANDLED]     [bit]                   NOT NULL,
    [PHOTO_PATH]     [nvarchar](255)         NULL,
    [LAST_UPDATED]   [smalldatetime]         NULL,
    [VERSION]        [bigint]                NULL,
    CONSTRAINT [PK_REPORT] PRIMARY KEY CLUSTERED
        (
         [ID] ASC
            ) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[REPORT] TO SCHEMA OWNER
GO
/****** Object:  Table [dbo].[REPORT_TYPE]    Script Date: 2/13/2020 12:14:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REPORT_TYPE]
(
    [ID]          [tinyint] IDENTITY (1,1) NOT NULL,
    [TYPE]        [nvarchar](255)          NOT NULL,
    [DESCRIPTION] [nvarchar](500)          NULL,
    [VERSION]     [bigint]                 NULL,
    CONSTRAINT [PK_REPORT_TYPE] PRIMARY KEY CLUSTERED
        (
         [ID] ASC
            ) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[REPORT_TYPE] TO SCHEMA OWNER
GO
/****** Object:  Table [dbo].[USER]    Script Date: 2/13/2020 12:14:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER]
(
    [ID]           [bigint] IDENTITY (1,1) NOT NULL,
    [ROLE_ID]      [tinyint]               NOT NULL,
    [USERNAME]     [nvarchar](30)          NOT NULL,
    [PASSWORD]     [nvarchar](30)          NOT NULL,
    [EMAIL]        [nvarchar](50)          NOT NULL,
    [IS_ACTIVATED] [bit]                   NOT NULL,
    [LAST_SIGN_IN] [smalldatetime]         NULL,
    [VERSION]      [bigint]                NULL,
    CONSTRAINT [PK_USER] PRIMARY KEY CLUSTERED
        (
         [ID] ASC
            ) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[USER] TO SCHEMA OWNER
GO
/****** Object:  Table [dbo].[USER_ROLE]    Script Date: 2/13/2020 12:14:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_ROLE]
(
    [ID]      [tinyint] IDENTITY (1,1) NOT NULL,
    [ROLE]    [nvarchar](30)           NOT NULL,
    [VERSION] [bigint]                 NULL,
    CONSTRAINT [PK_USER_ROLE] PRIMARY KEY CLUSTERED
        (
         [ID] ASC
            ) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[USER_ROLE] TO SCHEMA OWNER
GO
/****** Object:  Table [dbo].[WRONG_PARKING_REPORT]    Script Date: 2/13/2020 12:14:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WRONG_PARKING_REPORT]
(
    [WRONG_PARKING_REPORT_ID] [bigint]       NOT NULL,
    [REGISTRATION_PLATE]      [nvarchar](20) NOT NULL,
    [LATITUDE]                [float]        NOT NULL,
    [LONGITUDE]               [float]        NOT NULL,
    CONSTRAINT [PK_WRONG_PARKING_REPORT] PRIMARY KEY CLUSTERED
        (
         [WRONG_PARKING_REPORT_ID] ASC
            ) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[WRONG_PARKING_REPORT] TO SCHEMA OWNER
GO
ALTER TABLE [dbo].[CUSTOMER]
    ADD CONSTRAINT [DF_CUSTOMER_LAST_UPDATED] DEFAULT (getdate()) FOR [LAST_UPDATED]
GO
ALTER TABLE [dbo].[PARKING_LOT]
    ADD CONSTRAINT [DF_PARKING_LOT_IS_AVAILABLE] DEFAULT ((1)) FOR [IS_AVAILABLE]
GO
ALTER TABLE [dbo].[PARKING_LOT]
    ADD CONSTRAINT [DF_PARKING_LOT_LAST_UPDATED] DEFAULT (getdate()) FOR [LAST_UPDATED]
GO
ALTER TABLE [dbo].[PARKING_LOT]
    ADD CONSTRAINT [DF_PARKING_LOT_VERSION] DEFAULT ((0)) FOR [VERSION]
GO
ALTER TABLE [dbo].[PARKING_LOT_INFORMATION]
    ADD CONSTRAINT [DF_PARKING_LOT_RATING_AVERAGE] DEFAULT ((0)) FOR [RATING_AVERAGE]
GO
ALTER TABLE [dbo].[PARKING_LOT_INFORMATION]
    ADD CONSTRAINT [DF_PARKING_LOT_NUMBER_OF_RATING] DEFAULT ((0)) FOR [NUMBER_OF_RATING]
GO
ALTER TABLE [dbo].[PARKING_LOT_INFORMATION]
    ADD CONSTRAINT [DF_PARKING_LOT_INFORMATION_AVAILABLE_SLOT] DEFAULT ((0)) FOR [AVAILABILITY]
GO
ALTER TABLE [dbo].[PARKING_LOT_INFORMATION]
    ADD CONSTRAINT [DF_PARKING_LOT_INFORMATION_TOTAL_SLOT] DEFAULT ((0)) FOR [CAPACITY]
GO
ALTER TABLE [dbo].[PARKING_LOT_INFORMATION]
    ADD CONSTRAINT [DF_PARKING_LOT_INFORMATION_VERSION] DEFAULT ((0)) FOR [VERSION]
GO
ALTER TABLE [dbo].[PARKING_LOT_RATING]
    ADD CONSTRAINT [DF_PARKING_LOT_RATING_LAST_UPDATED] DEFAULT (getdate()) FOR [LAST_UPDATED]
GO
ALTER TABLE [dbo].[PARKING_LOT_RATING]
    ADD CONSTRAINT [DF_PARKING_LOT_RATING_VERSION] DEFAULT ((0)) FOR [VERSION]
GO
ALTER TABLE [dbo].[PARKING_LOT_SUGGESTION]
    ADD CONSTRAINT [DF_PARKING_LOT_SUGGESTION_LAST_UPDATED] DEFAULT (getdate()) FOR [LAST_UPDATED]
GO
ALTER TABLE [dbo].[PARKING_LOT_SUGGESTION]
    ADD CONSTRAINT [DF_PARKING_LOT_SUGGESTION_VERSION] DEFAULT ((0)) FOR [VERSION]
GO
ALTER TABLE [dbo].[PARKING_LOT_TYPE]
    ADD CONSTRAINT [DF_PARKING_LOT_TYPE_VERSION] DEFAULT ((0)) FOR [VERSION]
GO
ALTER TABLE [dbo].[PARKING_LOT_UNIT]
    ADD CONSTRAINT [DF_PARKING_LOT_UNIT_LAST_UPDATED] DEFAULT (getdate()) FOR [LAST_UPDATED]
GO
ALTER TABLE [dbo].[PARKING_LOT_UNIT]
    ADD CONSTRAINT [DF_PARKING_LOT_UNIT_VERSION] DEFAULT ((0)) FOR [VERSION]
GO
ALTER TABLE [dbo].[REPORT]
    ADD CONSTRAINT [DF_REPORT_IS_HANDLED] DEFAULT ((0)) FOR [IS_HANDLED]
GO
ALTER TABLE [dbo].[REPORT]
    ADD CONSTRAINT [DF_REPORT_LAST_UPDATED] DEFAULT (getdate()) FOR [LAST_UPDATED]
GO
ALTER TABLE [dbo].[REPORT]
    ADD CONSTRAINT [DF_REPORT_VERSION] DEFAULT ((0)) FOR [VERSION]
GO
ALTER TABLE [dbo].[REPORT_TYPE]
    ADD CONSTRAINT [DF_REPORT_TYPE_VERSION] DEFAULT ((0)) FOR [VERSION]
GO
ALTER TABLE [dbo].[USER]
    ADD CONSTRAINT [DF_USER_IS_ACTIVATED] DEFAULT ((0)) FOR [IS_ACTIVATED]
GO
ALTER TABLE [dbo].[USER]
    ADD CONSTRAINT [DF_USER_LAST_SIGN_IN] DEFAULT (getdate()) FOR [LAST_SIGN_IN]
GO
ALTER TABLE [dbo].[USER]
    ADD CONSTRAINT [DF_USER_VERSION] DEFAULT ((0)) FOR [VERSION]
GO
ALTER TABLE [dbo].[USER_ROLE]
    ADD CONSTRAINT [DF_USER_ROLE_VERSION] DEFAULT ((0)) FOR [VERSION]
GO
ALTER TABLE [dbo].[CUSTOMER]
    WITH CHECK ADD CONSTRAINT [FK_CUSTOMER_USER] FOREIGN KEY ([CUSTOMER_ID])
        REFERENCES [dbo].[USER] ([ID])
GO
ALTER TABLE [dbo].[CUSTOMER]
    CHECK CONSTRAINT [FK_CUSTOMER_USER]
GO
ALTER TABLE [dbo].[PARKING_LOT]
    WITH CHECK ADD CONSTRAINT [FK_PARKING_LOT_PARKING_LOT_TYPE] FOREIGN KEY ([PARKING_LOT_TYPE_ID])
        REFERENCES [dbo].[PARKING_LOT_TYPE] ([ID])
GO
ALTER TABLE [dbo].[PARKING_LOT]
    CHECK CONSTRAINT [FK_PARKING_LOT_PARKING_LOT_TYPE]
GO
ALTER TABLE [dbo].[PARKING_LOT_EMPLOYEE]
    WITH CHECK ADD CONSTRAINT [FK_PARKING_LOT_EMPLOYEE_PARKING_LOT] FOREIGN KEY ([PARKING_LOT_ID])
        REFERENCES [dbo].[PARKING_LOT] ([ID])
GO
ALTER TABLE [dbo].[PARKING_LOT_EMPLOYEE]
    CHECK CONSTRAINT [FK_PARKING_LOT_EMPLOYEE_PARKING_LOT]
GO
ALTER TABLE [dbo].[PARKING_LOT_EMPLOYEE]
    WITH CHECK ADD CONSTRAINT [FK_PARKING_LOT_EMPLOYEE_USER] FOREIGN KEY ([EMPLOYEE_ID])
        REFERENCES [dbo].[USER] ([ID])
GO
ALTER TABLE [dbo].[PARKING_LOT_EMPLOYEE]
    CHECK CONSTRAINT [FK_PARKING_LOT_EMPLOYEE_USER]
GO
ALTER TABLE [dbo].[PARKING_LOT_INFORMATION]
    WITH CHECK ADD CONSTRAINT [FK_PARKING_LOT_INFORMATION_PARKING_LOT] FOREIGN KEY ([PARKING_LOT_ID])
        REFERENCES [dbo].[PARKING_LOT] ([ID])
GO
ALTER TABLE [dbo].[PARKING_LOT_INFORMATION]
    CHECK CONSTRAINT [FK_PARKING_LOT_INFORMATION_PARKING_LOT]
GO
ALTER TABLE [dbo].[PARKING_LOT_RATING]
    WITH CHECK ADD CONSTRAINT [FK_PARKING_LOT_RATING_CUSTOMER] FOREIGN KEY ([CUSTOMER_ID])
        REFERENCES [dbo].[CUSTOMER] ([CUSTOMER_ID])
GO
ALTER TABLE [dbo].[PARKING_LOT_RATING]
    CHECK CONSTRAINT [FK_PARKING_LOT_RATING_CUSTOMER]
GO
ALTER TABLE [dbo].[PARKING_LOT_RATING]
    WITH CHECK ADD CONSTRAINT [FK_PARKING_LOT_RATING_PARKING_LOT] FOREIGN KEY ([PARKING_LOT_ID])
        REFERENCES [dbo].[PARKING_LOT] ([ID])
GO
ALTER TABLE [dbo].[PARKING_LOT_RATING]
    CHECK CONSTRAINT [FK_PARKING_LOT_RATING_PARKING_LOT]
GO
ALTER TABLE [dbo].[PARKING_LOT_REPORT]
    WITH CHECK ADD CONSTRAINT [FK_PARKING_LOT_REPORT_PARKING_LOT] FOREIGN KEY ([PARKING_LOT_ID])
        REFERENCES [dbo].[PARKING_LOT] ([ID])
GO
ALTER TABLE [dbo].[PARKING_LOT_REPORT]
    CHECK CONSTRAINT [FK_PARKING_LOT_REPORT_PARKING_LOT]
GO
ALTER TABLE [dbo].[PARKING_LOT_REPORT]
    WITH CHECK ADD CONSTRAINT [FK_PARKING_LOT_REPORT_REPORT] FOREIGN KEY ([PARKING_LOT_REPORT_ID])
        REFERENCES [dbo].[REPORT] ([ID])
GO
ALTER TABLE [dbo].[PARKING_LOT_REPORT]
    CHECK CONSTRAINT [FK_PARKING_LOT_REPORT_REPORT]
GO
ALTER TABLE [dbo].[PARKING_LOT_SUGGESTION]
    WITH CHECK ADD CONSTRAINT [FK_PARKING_LOT_SUGGESTION_CUSTOMER] FOREIGN KEY ([CUSTOMER_ID])
        REFERENCES [dbo].[CUSTOMER] ([CUSTOMER_ID])
GO
ALTER TABLE [dbo].[PARKING_LOT_SUGGESTION]
    CHECK CONSTRAINT [FK_PARKING_LOT_SUGGESTION_CUSTOMER]
GO
ALTER TABLE [dbo].[PARKING_LOT_UNIT]
    WITH CHECK ADD CONSTRAINT [FK_PARKING_LOT_UNIT_PARKING_LOT] FOREIGN KEY ([PARKING_LOT_ID])
        REFERENCES [dbo].[PARKING_LOT] ([ID])
GO
ALTER TABLE [dbo].[PARKING_LOT_UNIT]
    CHECK CONSTRAINT [FK_PARKING_LOT_UNIT_PARKING_LOT]
GO
ALTER TABLE [dbo].[REPORT]
    WITH CHECK ADD CONSTRAINT [FK_REPORT_CUSTOMER] FOREIGN KEY ([REPORTER_ID])
        REFERENCES [dbo].[CUSTOMER] ([CUSTOMER_ID])
GO
ALTER TABLE [dbo].[REPORT]
    CHECK CONSTRAINT [FK_REPORT_CUSTOMER]
GO
ALTER TABLE [dbo].[REPORT]
    WITH CHECK ADD CONSTRAINT [FK_REPORT_REPORT_TYPE] FOREIGN KEY ([REPORT_TYPE_ID])
        REFERENCES [dbo].[REPORT_TYPE] ([ID])
GO
ALTER TABLE [dbo].[REPORT]
    CHECK CONSTRAINT [FK_REPORT_REPORT_TYPE]
GO
ALTER TABLE [dbo].[USER]
    WITH CHECK ADD CONSTRAINT [FK_USER_USER_ROLE] FOREIGN KEY ([ROLE_ID])
        REFERENCES [dbo].[USER_ROLE] ([ID])
GO
ALTER TABLE [dbo].[USER]
    CHECK CONSTRAINT [FK_USER_USER_ROLE]
GO
ALTER TABLE [dbo].[WRONG_PARKING_REPORT]
    WITH CHECK ADD CONSTRAINT [FK_WRONG_PARKING_REPORT_REPORT] FOREIGN KEY ([WRONG_PARKING_REPORT_ID])
        REFERENCES [dbo].[REPORT] ([ID])
GO
ALTER TABLE [dbo].[WRONG_PARKING_REPORT]
    CHECK CONSTRAINT [FK_WRONG_PARKING_REPORT_REPORT]
GO
ALTER TABLE [dbo].[PARKING_LOT_RATING]
    WITH CHECK ADD CONSTRAINT [CK_PARKING_LOT_RATING] CHECK (([RATING] = (5) OR [RATING] = (4) OR [RATING] = (3) OR
                                                              [RATING] = (2) OR [RATING] = (1)))
GO
ALTER TABLE [dbo].[PARKING_LOT_RATING]
    CHECK CONSTRAINT [CK_PARKING_LOT_RATING]
GO
/****** Object:  Trigger [dbo].[TG_UPDATE_CUSTOMER]    Script Date: 2/13/2020 12:14:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[TG_UPDATE_CUSTOMER]
    ON [dbo].[CUSTOMER]
    FOR UPDATE
    AS
BEGIN
    UPDATE CUSTOMER
    SET LAST_UPDATED = GETDATE()
    WHERE CUSTOMER_ID = (SELECT CUSTOMER_ID FROM INSERTED)
END
GO
ALTER TABLE [dbo].[CUSTOMER]
    ENABLE TRIGGER [TG_UPDATE_CUSTOMER]
GO
/****** Object:  Trigger [dbo].[TG_UPDATE_PARKING_LOT]    Script Date: 2/13/2020 12:14:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TG_UPDATE_PARKING_LOT]
    ON [dbo].[PARKING_LOT]
    FOR UPDATE
    AS
BEGIN
    UPDATE PARKING_LOT
    SET LAST_UPDATED = GETDATE()
    WHERE ID = (SELECT ID FROM INSERTED)
END
GO
ALTER TABLE [dbo].[PARKING_LOT]
    ENABLE TRIGGER [TG_UPDATE_PARKING_LOT]
GO
/****** Object:  Trigger [dbo].[TG_CREATE_PARKING_LOT_RATING]    Script Date: 2/13/2020 12:14:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[TG_CREATE_PARKING_LOT_RATING]
    ON [dbo].[PARKING_LOT_RATING]
    AFTER INSERT
    AS
BEGIN
    DECLARE
        @PARKING_LOT_ID BIGINT,
        @RATING         TINYINT

    SET @PARKING_LOT_ID = (SELECT PARKING_LOT_ID FROM INSERTED)
    SET @RATING = (SELECT RATING FROM INSERTED)

    UPDATE PARKING_LOT_INFORMATION
    SET RATING_AVERAGE   = ((RATING_AVERAGE * NUMBER_OF_RATING) + @RATING) / (NUMBER_OF_RATING + 1),
        NUMBER_OF_RATING = NUMBER_OF_RATING + 1
    WHERE PARKING_LOT_ID = @PARKING_LOT_ID
END
GO
ALTER TABLE [dbo].[PARKING_LOT_RATING]
    ENABLE TRIGGER [TG_CREATE_PARKING_LOT_RATING]
GO
/****** Object:  Trigger [dbo].[TG_DELETE_PARKING_LOT_RATING]    Script Date: 2/13/2020 12:14:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[TG_DELETE_PARKING_LOT_RATING]
    ON [dbo].[PARKING_LOT_RATING]
    FOR DELETE
    AS
BEGIN
    DECLARE
        @PARKING_LOT_ID BIGINT,
        @RATING         TINYINT

    SET @PARKING_LOT_ID = (SELECT PARKING_LOT_ID FROM DELETED)
    SET @RATING = (SELECT RATING FROM DELETED)

    UPDATE PARKING_LOT_INFORMATION
    SET RATING_AVERAGE   = ((RATING_AVERAGE * NUMBER_OF_RATING) - @RATING) / (NUMBER_OF_RATING - 1),
        NUMBER_OF_RATING = NUMBER_OF_RATING - 1
    WHERE PARKING_LOT_ID = @PARKING_LOT_ID
END
GO
ALTER TABLE [dbo].[PARKING_LOT_RATING]
    ENABLE TRIGGER [TG_DELETE_PARKING_LOT_RATING]
GO
/****** Object:  Trigger [dbo].[TG_UPDATE_PARKING_LOT_RATING]    Script Date: 2/13/2020 12:14:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[TG_UPDATE_PARKING_LOT_RATING]
    ON [dbo].[PARKING_LOT_RATING]
    FOR UPDATE
    AS
BEGIN
    DECLARE
        @PARKING_LOT_ID BIGINT,
        @RATING_ID      BIGINT,
        @OLD_RATING     TINYINT,
        @NEW_RATING     TINYINT

    SET @PARKING_LOT_ID = (SELECT PARKING_LOT_ID FROM INSERTED)
    SET @RATING_ID = (SELECT ID FROM INSERTED)
    SET @OLD_RATING = (SELECT RATING FROM DELETED)
    SET @NEW_RATING = (SELECT RATING FROM INSERTED)

    IF @OLD_RATING = @NEW_RATING RETURN

    UPDATE PARKING_LOT_INFORMATION
    SET RATING_AVERAGE = ((RATING_AVERAGE * NUMBER_OF_RATING) - @OLD_RATING + @NEW_RATING) / NUMBER_OF_RATING
    WHERE PARKING_LOT_ID = @PARKING_LOT_ID

    UPDATE PARKING_LOT_RATING
    SET LAST_UPDATED = GETDATE()
    WHERE ID = @RATING_ID
END
GO
ALTER TABLE [dbo].[PARKING_LOT_RATING]
    ENABLE TRIGGER [TG_UPDATE_PARKING_LOT_RATING]
GO
/****** Object:  Trigger [dbo].[TG_UPDATE_PARKING_LOT_SUGGESTION]    Script Date: 2/13/2020 12:14:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[TG_UPDATE_PARKING_LOT_SUGGESTION]
    ON [dbo].[PARKING_LOT_SUGGESTION]
    FOR UPDATE
    AS
BEGIN
    UPDATE PARKING_LOT_SUGGESTION
    SET LAST_UPDATED = GETDATE()
    WHERE ID = (SELECT ID FROM INSERTED)
END
GO
ALTER TABLE [dbo].[PARKING_LOT_SUGGESTION]
    ENABLE TRIGGER [TG_UPDATE_PARKING_LOT_SUGGESTION]
GO
/****** Object:  Trigger [dbo].[TG_UPDATE_PARKING_LOT_UNIT]    Script Date: 2/13/2020 12:14:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TG_UPDATE_PARKING_LOT_UNIT]
    ON [dbo].[PARKING_LOT_UNIT]
    FOR UPDATE
    AS
BEGIN
    UPDATE PARKING_LOT_UNIT
    SET LAST_UPDATED = GETDATE()
    WHERE ID = (SELECT ID FROM INSERTED)
END
GO
ALTER TABLE [dbo].[PARKING_LOT_UNIT]
    ENABLE TRIGGER [TG_UPDATE_PARKING_LOT_UNIT]
GO
/****** Object:  Trigger [dbo].[TG_UPDATE_REPORT]    Script Date: 2/13/2020 12:14:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[TG_UPDATE_REPORT]
    ON [dbo].[REPORT]
    FOR UPDATE
    AS
BEGIN
    UPDATE REPORT
    SET LAST_UPDATED = GETDATE()
    WHERE ID = (SELECT ID FROM INSERTED)
END
GO
ALTER TABLE [dbo].[REPORT]
    ENABLE TRIGGER [TG_UPDATE_REPORT]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'', @level0type=N'SCHEMA', @level0name=N'dbo',
     @level1type=N'TABLE', @level1name=N'PARKING_LOT_RATING', @level2type=N'CONSTRAINT', @level2name=N'CK_PARKING_LOT_RATING'
GO
